body {
    /* margin: 0; */
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.search {
    width: 444px !important;
    height: 48px;
    padding: 14px 64px 14px 24px !important;
    background-color: #EEEEEE !important;
}

.radius-primary {
    border-radius: 16px !important;
}

.radius-secondary {
    border-radius: 12px !important;
}

.brand {
    width: 100px;
    height: 34px;
}

.bg-color-primary {
    background-color: #4B1979 !important;
}

.bg-color-secondary {
    background-color: #7126B5 !important;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.color-primary {
  color: #4B1979;
}

.fs-7 {
    font-size: 14px!important;
}

.fs-8 {
  font-size: 10px!important;
}

.border-purple {
  border-color: #4B1979 !important;
}